Django~=3.2.4
Pillow~=8.2.0
mysqlclient~=2.0.3
gunicorn~=20.1.0
whitenoise~=5.2.0
django-bootstrap3~=15.0.0
django-tables2~=2.4.0
django-filter~=2.4.0
mozilla-django-oidc~=1.2.4
django-storages~=1.11.1
boto3~=1.17.84
