Django~=3.2.9
Pillow~=8.4.0
mysqlclient~=2.1.0
gunicorn~=20.1.0
whitenoise~=5.3.0
django-bootstrap3~=15.0.0
django-tables2~=2.4.1
django-filter~=21.1
mozilla-django-oidc~=2.0.0
django-storages~=1.12.3
boto3~=1.19.7
