{% load static %}

{% include "iastatetheme/header.html" %}
{% include "iastatetheme/menu.html" %}

<!-- main -->
<main role="main" id="main-content">
  	<div class="container">

Welcome to LIMS

Check out the <a href=genera>Genera</a>

Check out the <a href=subgenera>Subgenera</a>

Check out <a href=genome>Genomes</a>

Check out <a href=species>Species</a>

Check out <a href=accession>Accessions</a>

Check out <a href=plant>Plants</a>

Check out <a href=seedpacket>Seed Packets</a>

Check out <a href=seed>Seeds</a>

Check out <a href=project>Projects</a>

Check out <a href=sample>Samples</a>

</main>

{% include "iastatetheme/footer.html" %}
