{% load static %}

{% include "iastatetheme/header.html" %}
{% include "iastatetheme/menu.html" %}

<!-- main -->
<main role="main" id="main-content">
  	<div class="container">

<p>
Welcome to LIMS
</p>

Check out the <a href=genera>Genera</a><br>

Check out the <a href=subgenera>Subgenera</a><br>

Check out <a href=genome>Genomes</a><br>

Check out <a href=species>Species</a><br>

Check out <a href=accession>Accessions</a><br>

Check out <a href=plant>Plants</a><br>

Check out <a href=seedpacket>Seed Packets</a><br>

Check out <a href=seed>Seeds</a><br>

Check out <a href=project>Projects</a><br>

Check out <a href=sample>Samples</a><br>


</p>
Missing something? 
<p>

Add new seedpackets <a href=newseedpacket>here</a><br>

</main>

{% include "iastatetheme/footer.html" %}
