{% extends "iastatetheme/base.html" %}

{% load django_tables2 %}
{% load bootstrap3 %}

{% block content %}

    <div class="container">
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'filter' %}
        </form>
    {% endif %}
    {% for format in view.export_formats %}
    <a href="{% export_url format %}">
        download  <code>.{{ format }}</code>
    </a>
    {% endfor %}
    {% render_table table %}

    <p>There are {{ table.rows | length }} results</p>

    </div>
{% endblock %}

