{% extends "iastatetheme/base.html" %}

{% block content %}
    <div class="container">

		<h1>
			Welcome to LIMS
		</h1>

		<h2>User</h2>

		{% if user.is_authenticated %}
			<p>Current user: {{ user.email }}</p>
			<p><a href="{% url 'oidc_logout' %}">Logout</a></p>

			<h2>Tables</h2>

			<ul>
				<li>Check out <a href="{% url 'accession' %}">Accessions</a></li>
				<li>Check out <a href="{% url 'plant' %}">Plants</a></li>
				<li>Check out <a href="{% url 'seedpacket' %}">Seed Packets</a></li>
				<li>Check out <a href="{% url 'project' %}">Projects</a></li>
				<li>Check out <a href="{% url 'sample' %}">Samples</a></li>
				<li>Check out <a href="{% url 'herbarium' %}">Herbariums</a></li>
			</ul>
				
				
			<h2>Missing something?</h2>
			
			<p>Add it in the <a href="/admin">admin section</a></p>
		{% else %}
			<a href="{% url 'oidc_authentication_init' %}">Login</a>
		{% endif %}

    </div>
{% endblock %}