{% extends "iastatetheme/base.html" %}

{% block content %}
    <div class="container">

		<h1>
			Welcome to LIMS
		</h1>

		<h2>Tables</h2>

		<ul>
			<li>Check out the <a href="{% url 'genera' %}">Genera</a></li>
			<li>Check out the <a href="{% url 'subgenera' %}">Subgenera</a></li>
			<li>Check out <a href="{% url 'genome' %}">Genomes</a></li>
			<li>Check out <a href="{% url 'species' %}">Species</a></li>
			<li>Check out <a href="{% url 'accession' %}">Accessions</a></li>
			<li>Check out <a href="{% url 'plant' %}">Plants</a></li>
			<li>Check out <a href="{% url 'seedpacket' %}">Seed Packets</a></li>
			<li>Check out <a href="{% url 'project' %}">Projects</a></li>
			<li>Check out <a href="{% url 'sample' %}">Samples</a></li>
			<li>Check out <a href="{% url 'herbarium' %}">Herbariums</a></li>
		</ul>
			
			
			<h2>Missing something?</h2>
			
			<p>
			Add it in the <a href="/admin">admin section</a>
			</p>

    </div>
{% endblock %}