{% extends "iastatetheme/base.html" %}

{% block content %}
    <div class="container">

		<p>
			Welcome to LIMS
			</p>
			
			Check out the <a href=genera>Genera</a><br>
			
			Check out the <a href=subgenera>Subgenera</a><br>
			
			Check out <a href=genome>Genomes</a><br>
			
			Check out <a href=species>Species</a><br>
			
			Check out <a href=accession>Accessions</a><br>
			
			Check out <a href=plant>Plants</a><br>
			
			Check out <a href=seedpacket>Seed Packets</a><br>
			
			Check out <a href=seed>Seeds</a><br>
			
			Check out <a href=project>Projects</a><br>
			
			Check out <a href=sample>Samples</a><br>
			
			
			</p>
			Missing something? 
			<p>
			Add new genera <a href=genus/new>here</a><br>
			
			Add new subgenera <a href=subgenus/new>here</a><br>
			
			Add new genomes <a href=genome/new>here</a><br>
			
			Add new species <a href=species/new>here</a><br>
			
			Add new accessions <a href=accession/new>here</a><br>
			
			Add new plants <a href=plant/new>here</a><br>
			
			Add new seedpackets <a href=seedpacket/new>here</a><br>
			
			Add new seeds <a href=seed/new>here</a><br>
			
			Add new projects <a href=project/new>here</a><br>
			
			Add new samples <a href=sample/new>here</a>

    </div>
{% endblock %}